#reload {

    width: 1080px;
    margin: auto;
}

.unselected_cell {
    background-color: #EED;
    float: left;
    border: solid 1px black;
    cursor: pointer;
    font-size:1vw;
    text-align: center;



}

.selected_cell {
    background-color: green;
    width: 80px;
    height: 80px;
    float: left;
    border: solid 1px black;
    cursor: pointer;

}



