#reload {

    width: 1080px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cell {

    float: left;
    cursor: pointer;
    text-align: center;
}

a:link
{
    color: black;
}

a:visited
{
    color: black;
}

a:hover {
    color: black;
}

a{
    color:black;
}


.unselected_cell, .selected_cell, .entry_cell, .field_cell, .colorized_cell, .colorized_naive_cell, .product_cell, .path_cell
{
    float: left;
    cursor: pointer;
    text-align: center;
    border: solid 1px black;
}

.unselected_cell
{
    background-color: #EED;
}

.selected_cell
{
    background-color: green;
}

.entry_cell
{
    background-color: yellow;
}

.field_cell
{
    background-color: orange;
}

.colorized_cell
{
    background-color: orange;
}

.colorized_naive_cell
{
    background-color: red;
}

.product_cell
{
    background-color: #FFA07A;
}

.path_cell
{
    background-color: orange;
}
.path_pick_cell
{
    background-color: grey;
    font-size: 10px;
}

 .loader
 {
     border: 16px solid #f3f3f3;
     border-radius: 50%;
     border-top: 16px solid blue;
     border-right: 16px solid green;
     border-bottom: 16px solid red;
     border-left: 16px solid pink;
     width: 120px;
     height: 120px;
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
 }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}







